
.koupit{
    color: red;
    font-size: xx-large;
    margin-left: 1100px;
}

.koupit:hover{
    background-color: blue;
}


.div{
    border: 2px solid black;
    border-radius: 23px;
    background-color: white;
}

