
.koupit{
    color: red;
    font-size: xx-large;
    margin-left: 1100px;
}

.koupit:hover{
    background-color: rgb(20, 20, 207);
}

.div{
    border: 2px solid black;
    border-radius: 23px;
    background-color: white;
}
.img{
    border: 2px solid black;
    border-radius: 23px;
    margin-bottom: -5px;
}


