.obrázek1{ 
    border: 2px solid black;
    border-radius: 23px;
    height: 59vh;
    width: 25vw;
    
}
.obrázek2{ 
    border: 2px solid black;
    border-radius: 23px;
    height: 400px;
    width: 600px;
    
}
.obrázek3{ 
    border: 2px solid black;
    border-radius: 23px;
    height: 400px;
    width: 600px;
    
}
.obrázek4{ 
    border: 2px solid black;
    border-radius: 23px;
    height: 400px;
    width: 600px;
    
}
.text1{
    background-color: red;
    border: 1px solid black;
    width: fit-content;
    border-radius: 10px;
}
.náměšť1{
    width: 60%;
    background-color: darkblue;
    border: 2px solid black;
    border-radius: 15px;
    margin:auto ;
    color: red;
}
.náměšť2{
    background-color: darkblue;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
}

.ikony{
    color: red;
    border: 1px solid black;
    background-color: rgb(173, 173, 17);
    width: fit-content;
}
.ikonynor{
    color: red;
    border: 1px solid black;
    background-color: yellow;
    width: fit-content;
}
.velikostikon{
width: 50;
height: 30;
}

.kontakttext{
border: 2px solid black;
width: 150px;
background-color: red;
font-size: 20px;
color: lightblue;

}

